<% include headerAndSide.ejs %>
<!DOCTYPE html>
<html>
<head>
    <title>Contact form using Bootstrap 3.3.4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sb-admin.css">
</head>
<body style="background-color: #7e7e7e">
	<div class="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs -->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Dashboard</a>
          </li>
	  <li class="breadcrumb-item">
            <a href="/plans">Plans</a>
          </li>
          <li class="breadcrumb-item active">Assignments</li>
        </ol>


     <div class="well" style="margin-top: 5%;">
     <h3>Assignments</h3>
     <form role="form" id="contactForm" data-toggle="validator" class="shake" method="post" action="/virtualPage5">
        <div class="form-group">
           <br>
           Question
            <textarea id="message" class="form-control" rows="4" placeholder="Enter your message" name="question" required ></textarea>
            <div class="help-block with-errors"></div>
        </div>      


        

        <div class="form-group">
           <br>
           Given date
            <div class="form-group">
                <div class='input-group date' id='datetimepicker5'>
                    <input type='date' class="form-control" name="givenDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="help-block with-errors"></div>
        </div>
   

        <div class="form-group">
           <br>
           Submission date
              <div class="form-group">
                <div class='input-group date' id='datetimepicker5'>
                    <input type='date' class="form-control" name="subDate"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            
        </div>

        <br>
        <button name="submit" type="submit" id="form-submit" class="btn btn-success btn-md pull-right ">Submit</button>
        <div id="msgSubmit" class="h3 text-center hidden"></div>
        <div class="clearfix"></div>
    </form>
    <hr>
    <br><br>

<div >
  <h3>Assignments</h3>        
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
	<th>Question </th>
	<th>Submission Date</th>
        <th>Given Date</th>
      </tr>
    </thead> 
    <tbody>
    	<% obj.forEach(function(row,index){%>
      <tr>
	<td><%= row.question %> </td>
	<td><%= row.subDate %> </td>
	<td><%= row.givenDate %> </td>
      </tr>
      <% }); %>
    </tbody>
  </table>


</div>
</div>
</div>



</body>
</html>



