<% include headerAndSide.ejs %>
<!DOCTYPE html>
<html>
<head>
    <title>Contact form using Bootstrap 3.3.4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
</head>
<body style="background-color: #7e7e7e">

    <div class="content-wrapper">
        <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/plans">Plans</a>
            </li>
            <li class="breadcrumb-item active">Charts</li>
          </ol>


    
          <div id="chart-container" class="container-fluid">
            Loading FusionCharts... 
          </div>
                
      

        </div>
    </div>


</body>
</html>
<script>
    FusionCharts.ready(function () {

      var chartData;

      $(function(){
        $.ajax({
          url: 'http://localhost:7000/chartsAA',
          type: 'GET',
          dataType:'json',
          success : function(data) {
            // console.log("Data from API endpoint "+JSON.stringify(data[0]));
            // callback(JSON.stringify(data));     --------this gives error
            callback(data);
          }
        });
      });

      function callback(response) 
      {
            chartData = response;

            var revenueChart = new FusionCharts
            ({
                type: 'column3d',
                renderAt: 'chart-container',
                width: '600',
                height: '400',
                dataFormat: 'json',
                dataSource: 
                {
                    "chart": {
                              "caption": "CO Attainment in the last 3 years for CSC302.10",
                              "subCaption": "",
                              "xAxisName": "Years",
                              "yAxisName": "CO Attainment Value",
                              "paletteColors": "#0075c2",
                              "valueFontColor": "#ffffff",
                              "baseFont": "Helvetica Neue,Arial",
                              "captionFontSize": "18",
                              "subcaptionFontSize": "14",
                              "subcaptionFontBold": "0",
                              "placeValuesInside": "1",
                              "showShadow": "0",
                              "divlineColor": "#999999",               
                              "divLineIsDashed": "1",
                              "divlineThickness": "1",
                              "divLineDashLen": "1",
                              "divLineGapLen": "1",
                              "canvasBgColor": "#ffffff",
                              // "borderThickness": "2",
                              // "showBorder" :"1",
                              "rotateValues": "0",              // values inside bar are horizontal
                              "labelFontSize": "15",           // 2015,2016.. 
                              "outCnvBaseFontSize": "15"      // co att, years, and y-axis numbers
                    },

                    "data" : chartData
                }
            });
          
          revenueChart.render();
      }
});
  </script>