<% include headerAndSide.ejs %>
<!DOCTYPE html>
<html>

<head>
    <title>Contact form using Bootstrap 3.3.4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    
</head>


<body style="background-color: #7e7e7e">

	<div class="content-wrapper">
      <div class="container">

          <!-- Breadcrumbs -->
          <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                  <a href="/coattain">CO Attainment</a>
              </li>
          </ol>


         <div class="well" style="margin-top: 5%;"></div>


         <ul class="nav nav-tabs" role = "tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#part1" role="tab" data-toggle="tab">Add Course</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#part2" role="tab" data-toggle="tab">Add Course Outcome</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#part3" role="tab" data-toggle="tab">CO Attainment </a>
            </li>
        </ul>



        <div class="tab-content">
              <!--<h3>Add Course</h3>-->
              <div class="tab-pane active" role="tabpanel" id="part1">
                  <form role="form" data-toggle="validator" class="shake" method="post" action="/virtualPage999">
                     

                      <div class="form-group">
                         <br>
                         Course ID
                         <input type="text" class="form-control" name="courseID" placeholder="Course ID">
                      </div>

                      <div class="form-group">
                         <br>
                         Course Name
                         <input type="text" class="form-control" name="courseName" placeholder="Course Name">
                      </div>

                      
                      <br>
                            <button name="submit" type="submit" id="form-submit" class="btn btn-success btn-md pull-right ">Submit</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </form>
                  </form>
              </div>




              <!--<h3>Add Course Outcome</h3>-->
              <br>
              <div class="tab-pane " role="tabpanel" id="part2">
                  <form role="form" data-toggle="validator" class="shake" method="post" action="/virtualPage9">
                     

                      <div class="form-group">
                        <label for="sel1">Select Course</label>
                        <select class="form-control" id="sel1" name="courseName">
                         <% obj1.forEach(function(rows,index){%>
                          <option name="<%= rows.courseName %>"><%= rows.courseName %></option>
                        <% }); %>
                        </select>
                      </div>

                      <div class="form-group">
                         <br>
                         Course Outcome ID
                         <input type="text" class="form-control" name="coID" >
                      </div>

                      <div class="form-group">
                         <br>
                         Text
                         <input type="text" class="form-control" name="text" >
                      </div>

                      <div class="form-group">
                         <br>
                         Indirect Attain
                         <input type="text" class="form-control" name="indirectAttain" >
                      </div>
                      
                      <br>
                            <button name="submit" type="submit" id="form-submit" class="btn btn-success btn-md pull-right ">Submit</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                  </form>
                   <hr>
              </div>





              <!--<h3>CO Attainment</h3>-->
              <div class="tab-pane " role="tabpanel" id="part3">
                    <form role="form" data-toggle="validator" class="shake" method="post"  enctype="multipart/form-data"   action="/virtualPage7">
                       <h6>Note : Ensure that there are no blank cells in the column but ONE at the end of the column </h6>

                    <div class="form-group">
                      <label for="sel1">Select Course Outcome</label>
                      <select class="form-control" id="sel1" name="coID">
                       <% obj2.forEach(function(COrows,index){%>
                        <option name="<%= COrows.coID %>"><%= COrows.coID %></option>
                      <% }); %>
                      </select>
                    </div>

                    <div class="form-group">
                       <br>
                       Upload Excel
                        <div class="form-group">
                            <div class='input-group' id='datetimepicker5'>
                                <input type='file'  class="form-control"  name="excelUploader" multiple />
                            </div>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>

                     <div class="form-group">
                       <br>
                       Excel Sheet Number (0-index)
                       <input type="text" class="form-control" name="sheetNumber" placeholder="Excel Sheet Number">
                    </div>

                    <div class="form-group">
                       <br>
                       Column name
                       <input type="text" class="form-control" name="columnName" placeholder="Column Name">
                    </div>

                    <div class="form-group">
                       <br>
                       Tool
                       <input type="text" class="form-control" name="tool" >
                    </div>

                    <div class="form-group">
                       <br>
                       Target % of marks
                       <input type="text" class="form-control" name="targetMark" >
                    </div>

                    <div class="form-group">
                       <br>
                       Target % of students
                       <input type="text" class="form-control" name="targetStud" >
                    </div>

                  	<div class="form-group">
                  	   <br>
                  	   Weightage
                  	   <input type="text" class="form-control" name="weightage" >
                  	</div>

                  	<div class="form-group">
                  	   <br>
                  	    Minimum Marks
                  	   <input type="text" class="form-control" name="minMark" >
                  	</div>

                    <br>
                    <h4>Target Level Percentage</h4>
                    <div class="row">
                        <div class="form-group col-sm-3">
                           Low
                           <input type="text" class="form-control input-group-lg" name="low" title="lastnamed">
                        </div>

                        <div class="form-group col-sm-3">
                           Moderate
                           <input type="text" class="form-control input-group-lg" name="mod" >
                        </div>

                        <div class="form-group col-sm-3">
                            High
                           <input type="text" class="form-control input-group-lg" name="high" >
                        </div>
                    </div>
                	
                	<br>
                        <button name="submit" type="submit" id="form-submit" class="btn btn-success btn-md pull-right ">Submit</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </form>
                    <hr>
              </div>
       </div>
     </div>
  </div>


</body>
</html>