<!DOCTYPE html>
<html>
<head>
    <title>Contact form using Bootstrap 3.3.4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sb-admin.css">
</head>
<body style="background-color: #7e7e7e">
	
<div class="content-wrapper">

      <div class="container-fluid">

    <!--Displaying Data from Database Objectives-->


<div >
  <h2>Modules</h2>        
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Module No.</th>
        <th>Module Name</th>
        <th>Module Content</th>
        <th>Hours</th>
        
      </tr>
    </thead> 
    <tbody>
    	<% obj.forEach(function(row,index){%>
      <tr>
	<td><%= row.moduleID %> </td>
	 <td><%= row.moduleName %> </td>
        <td><%= row.content %> </td>
	<td><%= row.hours %> </td>
	
        
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<a name="viewTable"  id="viewTable" class="btn btn-success btn-lg pull-right" href="/syllabusModules.html" ">Go Back</a>

</div>
</div>

</body>
</html>



